/* Fondo de la pantalla de register */
.register-screen {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bg-main);
  background-image: radial-gradient(circle at top left, #4a154b 0, transparent 55%),
                    radial-gradient(circle at bottom right, #4a154b 0, transparent 55%);
  background-repeat: no-repeat;

  overflow: hidden;
}


/* Card blanca centrada */
.register-screen__card {
  width: 100%;
  max-width: 420px;
  background-color: var(--bg-card);
  border-radius: 12px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.45);
  overflow: hidden;
}
