.login {
  padding: 1.313rem 2rem 0;
}

.login__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 0.75rem;
  user-select: none;
}

.login__logo img {
  width: 100px;
}

.login__tabs {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.125rem;
}

.login__tab {
  background: transparent;
  border: none;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--text-main);
  padding-bottom: 0.25rem;
  cursor: pointer;
  position: relative;
}

.login__tab--active {
  color: #111827;
}

.login__tab--active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -0.125rem;
  height: 0.125rem;
  margin: 0 auto;
  width: 60%;
  border-bottom: 2px solid #7C3AED;
  transition: border-color .2s ease;
  color: #7C3AED;
}

.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.75rem;
  margin-right: 1.375rem;
}

.login__field {
  width: 100%;
}

.login__label {
  font-size: 0.875rem;
  color: #493751;
  margin-bottom: 0.375rem;
  margin-left: 0.313rem;
  font-weight: 500;
  display: block;
  text-align: initial;
}

.login__input {
  width: 100%;
  font-size: 0.875rem;
  padding: 0.625rem 0.875rem;
  border-radius: 6px;
  border: none;
  background-color: #f3f4f6;
  outline: none;
}

.login__input::placeholder {
  text-align: center;
  color: #9ca3af;
}

.login__input:focus {
  box-shadow: 0 0 0 1px #38bdf8;
}

.login__button {
  margin-top: 0.625rem;
  margin-bottom: 1.25rem;
  width: 60%;
  padding: 0.625rem 0.75rem;
  border-radius: 6px;
  border: none;
  background-color: var(--primary);
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 0.8125rem;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.login__button:hover:enabled {
  background-color: var(--primary-hover);
}


.login__button:disabled {
  opacity: 0.8;
  cursor: default;
}

.login__message {
  display: block;
  font-size: 0.8125rem;
  margin-top: 0.25rem;
  text-align: center;
}

.login__message--error {
  color: #dc2626;
}

.login__message--success {
  color: #16a34a;
}


@media (max-width: 480px) {
  .login {
    padding: 0.875rem;
  }

  .login__button {
    width: 80%;
  }
}
