/* Contenedor interno de la card */
.login {
  padding: 24px 32px 0;
}

.login__logo {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  user-select: none;
}

.login__logo img {
  width: 100px;
}

/* Tabs SIGN IN / SIGN UP */
.login__tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-bottom: 18px;
}

.login__tab {
  background: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--text-main);
  padding-bottom: 4px;
  cursor: pointer;
  position: relative;
}

.login__tab--active {
  color: #111827;
}

.login__tab--active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -2px;
  height: 2px;
  margin: 0 auto;
  width: 60%;
  border-bottom: 2px solid #7C3AED;
  transition: border-color .2s ease;
  color: #7C3AED;
}


/* Form */
.login__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-right: 22px;
}

.login__field {
  width: 100%;
}

.login__label {
  font-size: 14px;
  color: #493751;
  margin-bottom: 6px;
  margin-left: 5px;
  font-weight: 500;
  display: block;
  text-align: initial;
}

/* Inputs planitos */
.login__input {
  width: 100%;
  font-size: 14px;
  padding: 10px 14px;
  border-radius: 6px;
  border: none;
  background-color: #f3f4f6;
  outline: none;
}

.login__input::placeholder {
  text-align: center;
  color: #9ca3af;
}

.login__input:focus {
  box-shadow: 0 0 0 1px #38bdf8;
}

/* Botón*/
.login__button {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 60%;
  padding: 10px 12px;
  border-radius: 6px;
  border: none;
  background-color: var(--primary); /* #36c5f0 */
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  font-size: 13px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.35);
}

.login__button:hover:enabled {
  background-color: var(--primary-hover); /* #2eb4dd */
}


.login__button:disabled {
  opacity: 0.8;
  cursor: default;
}

/* Mensajes */
.login__message {
  display: block;
  font-size: 13px;
  margin-top: 4px;
  text-align: center;
}

.login__message--error {
  color: #dc2626;
}

.login__message--success {
  color: #16a34a;
}



/* Responsive */
@media (max-width: 480px) {
  .login {
    padding: 20px 20px 0;
  }

  .login__button {
    width: 80%;
  }
}
